[data-tab-content] {
    display:none;
}

.bckgrnd{
    border-radius: 50px 5px;
    border: 3px solid black;
    background: rgb(187, 73, 73);
    margin-top: 10px;
    padding: 20px;
    width: auto;
    height: auto;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0);
}

.tab.active {
    background-color: #693c3c80;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.tab:hover {
    background-color: #63000080;
}

.tab-content {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.txtbckgrnd {
    text-align: inline; 
    border-radius: 40px 5px 40px 10px;
    background: rgba(0, 0, 0, 0.455);   
    padding: 20px;
    width: auto;
    height: auto;
}

.image { 
    margin-top: 30px;
    width: 5px; 
    height: auto; 
}
.imtip {
    border-radius: 15px;
    border: 20px solid rgba(0, 0, 0, 0.455);
    width: 18.25%;
    position: absolute;
    left: 39.5%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.bulletin{
    font-size: large;
}

.subbulletin{
    font-size: medium;
}
.bulletinbckgrnd {
    border-radius: 40px 5px 40px 10px;
    background: rgba(0, 0, 0, 0.455);   
    padding: 30px;
    position:unset;
    width: fit-content;
    height: auto;
}