[data-tab-content] {
    display:none;
}

.bckgrnd{
    border-radius: 50px 5px;
    background: rgb(187, 73, 73);
    margin-top: 10px;
    padding: 20px;
    width: auto;
    height: auto;
}


.active[data-tab-content] {
    display: block;
}

.tabs {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
}

.tab {
    cursor:pointer;
    padding:10px;
}

.tab.active {
    background-color: #cccccc80;
}

.tab:hover {
    background-color: #aaaaaa80;
}

.tab-content {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.image { 
    margin-top: 30px;
    width: 5px; 
    height: auto; 
}
.imtip {
    position: absolute;
    left: 39.5%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }